.about-ceos {
    display: flex;
    flex-direction: column;
    margin-top: 8.75rem;
    padding-block: 2.625rem;
    padding-inline: 6.25rem;
    
}

.title-ceos {
    display: flex;
    justify-content: center;
}

.title-ceos h2 {
    color: var(--color-blue);
    font-family: var(--mont-font-family);
    font-size: 2.5rem;
    font-weight: 400;
}

.ceos {
    margin-top: 5.875rem;
    display: flex;
    justify-content: center;
    gap: 0.625rem;
}

.ceos p {
    font-family: var(--poppins-font-family);
    font-size: 1.25rem;
    font-weight: 400;
}

.ceo-wemerson {
    width: 41.875rem;
    padding-block: 2.3125rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-wemerson {
    width: 16.25rem;
    height: auto;
}

.description-wemerson {
    text-align: center;
    margin-top: 4.375rem;
    padding-inline: 1.5625rem;
}


.ceo-wemerson img {
    width: 16.25rem;
    height: auto;
}

.ceo-matheus {
    width: 41.875rem;
    padding-block: 2.3125rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-matheus {
    width: 16.25rem;
    height: auto;
}

.description-matheus {
    text-align: center;
    margin-top: 3.75rem;
    padding-inline: 1.5625rem;
}

.ceo-matheus img {
    width: 16.25rem;
    height: auto;
}

.arrow {
    margin-top: 8.625rem;
}

@media screen and (max-width: 1200px) {
    .about-ceos {
        border: 1px solid red;
        margin-top: 6.875rem;
        justify-content: center;
        padding-inline: 0px;
    }

    .ceos {
        flex-direction: column;
        justify-content: center;
        margin-top: 85px;
        width: 100%;
        border: 1px solid green;

    }

    .ceo-wemerson {
        width: 100%;
        border: 1px solid white;
        justify-content: center;
    }

    .img-wemerson {
        display: flex;
        justify-content: center;
    }

    .ceo-wemerson img {
        width: 150px;
    }

    .ceo-wemerson p {
        font-size: 1rem;
    }
}
