@import url(./form/input.css);
@import url(./form/button.css);

.contact {
    display: flex;
    flex-direction: column;
    margin-top: 8.75rem;
    padding-block: 2.625rem;
}

.title-contact {
    display: flex;
    justify-content: center;
}

.title-contact h2 {
    color: var(--color-blue);
    font-family: var(--mont-font-family);
    font-size: 2.5rem;
    font-weight: 400;
}

@media screen and (max-width: 1200px) {
    .contact {
        margin-top: 6.875rem;
    }
}