footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8.75rem;
    padding-block: 0.625rem;
    gap: 4.375rem;
}

.copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    font-family: var(--poppins-font-family);
    font-size: 1rem;
    font-weight: 400;
    color: white;
}

.copyright a {
    text-decoration: none;
    color: #007bff;
}

.img-copyright {
    display: flex;
    gap: 0.625rem;
    align-items: center;
}

@media screen and (max-width: 1200px) {
    footer {
        width: 100%;
        flex-direction: column;
        gap: 1.375rem;
        margin-top: 6.875rem;
    }
}