* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --poppins-font-family: "Poppins", serif;
    --mont-font-family: "Montserrat", serif;

    --color-blue: #007bff;
    --color-footer: #777777;
    --color-background-service: #323131;

    --color-background: black;
}

.main-container {
    background-color: var(--color-background);
    height: 100vh;
    color: white;
    padding: 2.8125rem 1.8125rem 1rem 1.8125rem;
}

a {
    text-decoration: none;
}

