nav {
    padding: 1rem 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;

    position: fixed; /* Mantém a navbar fixa na tela */
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    background-color: #000000;
}

.nav-logo img {
    width: 9.375rem;
    height: 6.75rem;
}

.nav-links {
    display: flex;
    gap: 3.1875rem;
}

.nav-links a {
    font-family: var(--mont-font-family);
    font-size: 1.25rem;
    font-weight: 400;
    color: #FFFFFF;
}

.nav-links a:hover {
    border-bottom: 2px solid #2582e6;
    transform: translateY(5px);
    transition: 0.2s ease-in-out;
}

.menu-responsivo {
    display: none;
}

.menu-opcoes {
    display: none;
    position: absolute;
    right: 10px; /* Alinha ao lado direito */
    top: 60px; /* Ajuste conforme a altura do header */
    background: #111111; /* Fundo escuro com transparência */
    border-radius: 5px;
    padding: 10px 0;
    width: 120px; /* Define a largura do menu */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);

    font-family: var(--poppins-font-family);
    font-size: 1rem;
  }
  
  .menu-opcoes ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menu-opcoes a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    display: block;
    padding: 10px 15px;
    transition: background 0.3s ease-in-out;
  }
  
  .menu-opcoes a:hover {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
  }

@media screen and (max-width: 1200px) {

    .menu-responsivo {
        display: block;
    }
    .menu-opcoes.ativo {
        display: block; /* Exibe o menu quando a classe "ativo" for adicionada */
      }
    .menu-responsivo img {
        width: 35px;
        height: auto;
    }

    .nav-links {
        display: none;
    }

    .nav-logo img {
        width: 70px;
        height: auto;
    }

    



    

    
}

