nav {
    border: 1px solid #FFFFFF;
    border-radius: 1.25rem;
    padding: 1rem 4.025rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo img {
    width: 9.375rem;
    height: 6.75rem;
}

.nav-links {
    display: flex;
    gap: 3.1875rem;
}

.nav-links a {
    font-family: var(--mont-font-family);
    font-size: 1.25rem;
    font-weight: 400;
    color: #FFFFFF;
}

.nav-links a:hover {
    border-bottom: 2px solid #2582e6;
    transform: translateY(5px);
    transition: 0.2s ease-in-out;
}

