nav {
    padding: 1rem 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;

    position: fixed; /* Mantém a navbar fixa na tela */
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    background-color: #000000;
}

.nav-logo img {
    width: 9.375rem;
    height: 6.75rem;
}

.nav-links {
    display: flex;
    gap: 3.1875rem;
}

.nav-links a {
    font-family: var(--mont-font-family);
    font-size: 1.25rem;
    font-weight: 400;
    color: #FFFFFF;
}

.nav-links a:hover {
    border-bottom: 2px solid #2582e6;
    transform: translateY(5px);
    transition: 0.2s ease-in-out;
}

